.root {
  overflow: hidden;
  /* height: 100vh; */
}
*,
html,
body,
.modal-content {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}
.errorMsg {
  color: rgb(197, 36, 36);
}
/* side bar */
.MuiContainer-root {
  padding-left: 0 !important;
}
.sidebar-container .ps-sidebar-container,
._sidebar_gufjs_21 {
  background-color: rgba(32, 63, 199, 1);
  color: #fff;
  position: relative;
  height: 100vh;
}
.sidebar-container .ps-sidebar-container .ps-menu-button:hover {
  background-color: rgba(26, 27, 30, 0.17);
}
._container1_9ea38_1 ._sidebar_9ea38_21 {
  background-color: rgba(32, 63, 199, 1);
}
.toggle-sidebar-btn {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 7px;
  color: rgba(255, 73, 139, 1);
  cursor: pointer;
}

.toggle-sidebar-btn svg {
  transition: transform 0.3s ease;
}

.sidebar-container.collapsed .toggle-sidebar-btn svg {
  transform: rotate(180deg);
}
.menu-space {
  margin-top: 3rem;
  margin-left: 0.3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.master-layout {
  display: flex;
}
.sidbar {
}
.AdminNavbar {
  margin-left: 250px;
  width: calc(100%-250px);
}
/* .css-1wvake5  */
/* .css-hip9hq-MuiPaper-root-MuiAppBar-root{
 background: #fff;
} */
.nav-bg {
  background: #fff !important;
}

/********** table************* */
.tableHeadCustom {
  background-color: #425ece;
}
.css-1ygcj2i-MuiTableCell-root {
  color: #fff !important;
}

.menuText {
  font-size: 0.9rem;
}
.noDataBox {
  height: 100%;
}
.noData {
  max-width: 100%;
  max-height: 100%;
}
.customModal p .modalInfo {
  color: #425ece;
  line-height: 1.8rem;
  font-weight: 700;
  font-size: 1.1rem;
}
.customModal .customModalCont {
  text-align: center;
  margin-top: 0.5rem;
}
.customModal .customModalCont .customModalImgCont {
  width: 200px;
  height: 150px;
}

.customModal .btnClose,
.btnClose {
  position: absolute;
  bottom: 30px;
  right: 20px;
}
.customModal .deleteBox {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center;
  text-align: center !important;
}
.customModal .deleteBox img,
.bookDetail {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.centered-cell {
  text-align: center;
}
.btnWidth{
  width: 50%;
}
.rdrDefinedRangesWrapper {
  display: none;
}