.fadeInImage {

  object-fit: cover;
  cursor: pointer;
  opacity: 0; /* Initial opacity set to 0 */
  animation: fadeIn 1s ease-in-out forwards; /* Animation definition */
}

/* Keyframe animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// .fadeInImage.show {
//   opacity: 1;
// }
  @media screen and (max-width: 600px) {
    .imagesContainer {
      flex-direction: column; /* Stack items vertically on small screens */
    }

    .smallImageFadeIn {
      width: 100%; /* Take full width on small screens */
    }
  }

  @media screen and (max-width: 600px) {
    /* Adjust paragraph styles for smaller screens */
    .paragraphClass {
      font-size: 14px; /* Adjust the font size */
      margin-bottom: 10px; /* Adjust the bottom margin */
    }
  }

  .messageField{
    width: 500px;
   }